#root {
  max-width: 1440px;
  margin: 0;
  text-align: center;
}

.responsive-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.main{
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-cont{
  z-index: 10;
  position: sticky;
}
