

.card-container-2{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 24px;
    gap: 24px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    overflow: hidden;
    background-color: #fff;
}

.card-header-2{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: auto;
    /* overflow: hidden; */
}

.user-image-2{
    width: 72px;
    height: 72px;
    /* border-radius: 4px; */
}

.user-initials-2 {
  width: 72px;
  height: 72px;
  border-radius: 0;
  background-color: #F1f1f1; /* or your theme color */
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}



.card-header-2 .user-info-2{
    display: flex;
    flex-direction: column;
    place-items: start;
    gap: 4px;
}

.card-header-2 .user-info-2 .designation-2{
    display: flex;
    flex-direction: row;
    align-self: start;
    place-items: center;
    gap: 4px;
}

.card-header-2 .user-info-2 h3{
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    line-height: 24px;
}

.card-header-2 .user-info-2 p{
    /* font-family: sans-serif; */
    font-size: 12.6px;
    font-weight: 400;
    color: #808080cb;
    text-align: left;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    height: 100%;
}

.card-body .info-label-2{
    margin: 0;
    font-size: 12.6px;
    font-weight: 400;
    color: #333;
    text-align: left;
    line-height: 20px;
}

.see-profile-2{
    display: flex;
    background-color: #5fc322;
    color: #fff;
    border-radius: 4px;
}

.profile-summary {
    height: 40px;
    font-size: 14px;
    overflow-wrap: normal;
    text-overflow: ellipsis;
    margin: 0;
}

.contact-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.contact-row .info-row{
    width: 100%;
}

.info-label-2{
    font-size: 12px;
    font-weight: 600;
    color: #333;
    margin: 0;
    width: 80px;
}