.wizard-container {
  display: flex;
  min-height: 100%;
  background-color: #fff;
}

.wizard-sidebar {
  width: 30%;
  padding: 24px;
  gap: 24px;
  background: #fafafa;
  border-right: 1px solid #eee;
}

.wizard-content {
  flex: 1;
  padding: 24px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  place-items: start;
}

.ant-steps-item-container {
  padding: 0;
  height: max-content;
}

.ant-steps-item-title {
  font-size: 12.6px;
}

.step-header {
  margin-bottom: 0;
}

.step-header h2 {
  margin: 0;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}

.step-header p {
  color: #777;
  margin: 0;
  font-size: 12.6px;
  text-align: left;
}

form {
  width: 400px;
  height: 100%;
  overflow-y: scroll;
  text-align: left;
}

input{
  height: 44px;
}


.select-dpdn{
  height: 44px;
}

.input-number{
    height: 44px;
    width: 100%;
}


.step-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin-top: 2rem; */
  border-top: 1px solid #eee;
  padding-top: 1rem;
}

.footer-buttons {
  display: flex;
  gap: 0.75rem;
}

.back-btn {
  margin-right: 0.5rem;
}

.review-container {
  display:flex;
  flex-direction:column;
  height: 100%;
  overflow-y: scroll;
  gap:16px;
  padding:12px 0;
  width: 100%;
}

.review-section {
  background:#fafafa;
  /* border:1px solid #eee; */
  padding:14px;
  /* border-radius:6px; */
  position:relative;
}

.review-section h3 {
  margin:0 0 8px;
  font-size: 12.6px;
}

.review-section .ant-btn-link {
  position:absolute;
  right:12px;
  top:12px;
}

.rev-sec {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 14px;
  background-color: #f4f5f6;
}

.rev-sec h3{
  font-size: 12.6px;
  margin: 0;
}

.rev-sec .sec-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sec-body p {
  width: auto;
}

form {
  width: 100%;
}
