

.card-container{
    /* allow the card to fill the grid column but not exceed a reasonable max */
    width: 100%;
    /* max-width: 400px; */
    box-sizing: border-box;
    display: flex;
    padding: 24px;
    gap: 16px;
    /* border: 1px solid #E0E0E0; */
    /* border-radius: 12px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    overflow: hidden;
    background-color: #fff;
}

.card-header{
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 16px;
    overflow: hidden;
}

.user-image{
    width: 48px;
    /* border-radius: 4px; */
}

.card-header .user-info{
    display: flex;
    flex-direction: column;
    place-items: start;
    gap: 4px;
}

.card-header .user-info .designation{
    display: flex;
    flex-direction: row;
    align-self: start;
    place-items: center;
    gap: 4px;
}

.card-header .user-info h3{
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    line-height: 24px;
}

.card-header .user-info p{
    /* font-family: sans-serif; */
    font-size: 12.6px;
    font-weight: 400;
    color: #808080cb;
    text-align: left;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

.card-body p{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #666;
    text-align: left;
    line-height: 20px;
}

.card-body .info-label{
    font-size: 12px;
    font-weight: 600;
    color: #333;
    margin: 0;
    width: 80px;
}

.contact-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.contact-row .info-row{
    width: 100%;
}

.card-footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
}

.card-footer button{
    display: flex;
    background-color: #5D3B20;
    color: #fff;
    align-self: stretch;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
}

.card-footer button:hover{
    display: flex;
    background-color: #5D3B20;
    color: #fff;
    align-self: stretch;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
}