#root {
  max-width: 1440px;
  height: 100vh;
  margin: 0;
}

.responsive-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.page-body{
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-cont{
  z-index: 10;
  position: sticky;
}

.form-body{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  height: 100%;
  
}

.header-section{
    grid-column: span 3;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  background-image: url('/src/assets/directory-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  justify-content: space-around;
  gap: 24px;
  padding: 24px;
  position: relative;
  justify-content: space-between;
}

.header-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5f3c22;
  opacity: 0.8;
  z-index: 1;
}

.header-section .container h3{
  margin: 0;
  text-align: left;
}

.header-section .container p{
  margin: 0;
  font-size: 12.6px;
  text-align: left;
}

.header-section .container{
  display: flex;
  flex-direction: column;

  gap: 24px;
  /* place-items: center; */
  position: relative;
  z-index: 2;
}

.header-section .container a{
    color: #fff;
    font-size: 14px;
    text-decoration: underline;
    text-align: left;
    cursor: pointer;
}
/* 
.actions{
  display: flex;
  flex-direction: row;
  gap: 16px;
} */



.primary{
    /* padding: 12px 24px; */
    font-size: 14px;
    /* font-weight: 600; */
    border-radius: 4px;
    cursor: pointer;
    /* background-color: none; */
    /* border: 1px solid #fff; */
    /* color: #fff; */
    /* width: 96px; */
}

.primary:hover{
  /* background-color: #fff; */
  border: #fff;
  color: #5f3c22;
}

.form-body .nav-cont{
  grid-column: span 9;
}