

.card-container{
    width: 400px;
    display: flex;
    padding: 24px;
    gap: 16px;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
}

.card-header{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.user-image{
    height: 64px;
    border-radius: 8px;
}

.card-header .user-info{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card-header .user-info h3{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #0A0A0A;
    line-height: 24px;
}

.card-header .user-info p{
    font-size: 12px;
    font-weight: 500;
    color: #888;
}

.see-profile{
    display: flex;
    background-color: #5fc322;
    color: #fff;
    border-radius: 4px;
}